<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new game!</title>
</head>
<body>
        <h1>Welcome to Durak!</h1>
        <a href=<%= "http://localhost:3002/room/" + roomName %>> Create new game</a>

        <script src="../clientCreatedRoom.js"></script>
</body>
</html>